#container{
    background-color: cornsilk;
    width: 100%;
    height: 1000px;
    display: flex;
}
#menu{
    background-color: cornflowerblue;
    width: 100%;
    height: 100px;
    margin-left: 0px;
    margin-right: 0px;

}
.foto{
    margin-left: 30%;
    margin-bottom: 20%;
    color: red;
}
.h1{
margin-left: 5%;
font-family: Arial, Helvetica, sans-serif;
}
